.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-left: 200px;
    padding-top: 30px;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field{
    padding-top: 10px;
  }