<app-tabs></app-tabs>
<div>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill" >
            <input matInput placeholder="Full Name" [formControl]="name" required>
            <mat-error *ngIf="name.invalid"> required Username</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput type="number"  placeholder="Mobile" [formControl]="mobile" required>
          <mat-error *ngIf="mobile.invalid"> required mobile</mat-error>
      </mat-form-field>
      <br>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birth Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width" appearance="legacy">
            <textarea matInput placeholder="Address"> </textarea>
       </mat-form-field>
       <br>

       

      <mat-radio-group aria-label="Have a Bike?">Have a Bike?
        <mat-radio-button value="1" (click)="haveBike(1)">Yes</mat-radio-button>
        <mat-radio-button value="2" (click)="haveBike(2)" >No</mat-radio-button>        
      </mat-radio-group>

      <mat-form-field class="example-full-width" *ngIf="bike" appearance="fill">
        <input matInput placeholder="Bike Number" [formControl]="bikeNumber" required>
        <mat-error *ngIf="bikeNumber.invalid"> required bike number</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Fees" [formControl]="fees" required>
      <mat-error *ngIf="fees.invalid && fees.touched">Enter Fees</mat-error>
  </mat-form-field>

      <br><br>

      <button mat-raised-button color="accent"  >Sumbit</button>
      <br>

      
  
  </form>
</div>