
.login-form{
background-color: rgb(245, 231, 217);
border-radius: 20%;
box-shadow:2px 5px 10px black; 


}
.example-container{
     width: 300px;
     
     margin: auto;
     padding-top: 100px;
     
     text-align: center;
}


   mat-form-field{
        padding-top: 50px;
   }  
button{
     margin-bottom: 40px;
}
  