
<div class="example-container">
<br><br>
    <form class="login-form">
        <mat-form-field appearance="fill">
            <input matInput placeholder="Username*" [formControl]="username" required>
            <mat-error *ngIf="username.invalid"> required Username</mat-error>
        </mat-form-field>
        <br>


        <mat-form-field appearance="fill">

            <input type="password" matInput placeholder="Passward*" [formControl]="pwd" required>
            <mat-error *ngIf="pwd.invalid"> required Username</mat-error>
        </mat-form-field>
        <br>               
        
        <a  > 
        <button mat-raised-button color="primary" style="padding-top: 5px" routerLink="/home" (click)="onClick() " >
            Login             
        </button>
       </a>  
    </form>

</div>