<!-- 
<app-tabs></app-tabs>
-->

<body>
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile class="header">
      
        <h4>welcome</h4>
      
    </mat-grid-tile>
    
  </mat-grid-list>


  <mat-grid-list class="main" cols="2" rowHeight="2:1">
     
    
          <mat-grid-tile>
              <input type="text" #ip>
              <button class="btn btn-primary" (click)=show(ip)>show</button>
              
            </mat-grid-tile>
     
      

    
    <mat-grid-tile>
        <div class="customDiv">
      Rules
        </div>
        
    </mat-grid-tile>
    
  </mat-grid-list>
</body>





<!--
<body>
      

                
               
        
        <br>
        <hr>
        <br><br>
 <header>        
          Welcome To Library
     
  </header>
        <div>
          <div class="main" >           
         
                    
            <button 
            mat-raised-button color="primary"
            routerLink='/app-login'
            >
            Admin Login</button>
            <button id="new" mat-raised-button color="primary" style="margin-left: 10px"  >Apply Now</button>

    
</div>
<div class="rule">
<p style="text-align: center">         **************Rules************
  <marquee  direction="bottom">
    <ul>
      <li>1.----------------------</li>
      <li>2.-----------------------</li>
      <li>3.-----------------------</li>
      <li>4.------------------------</li>
    </ul>
  </marquee>
</p>
</div>          

  <br><br><br><br><br><br><br><br>
  <hr>

        </div>
            <footer>
               <h4>Copyright: er.prawinpatil@gmail</h4>
            </footer>
        
            
</body>


-->
